/* ==============
   Style de base
   ============== */

html {
  color: #222;
  background-color: #ffffff;
}

/* =======================
   EXEMPLE de Media Query
   ======================= */

@media only screen and (min-width: 800px) {
  html {
    background-color: rgb(252, 116, 116);
  }
}
